# ================================================================================================ #
# Development Environment

# Local Files
*.local.*
*.local**

# DotEnv Files
.env.*.local
.env.local

# Developer Specific
.dev/

# ================================================================================================ #
# Generated Build

# General
build/
out/

# Rust and Cargo
target/
debug/
*.pdb

# ================================================================================================ #
# Linters and Formatters

# rustfmt
**/*.rs.bk

# ================================================================================================ #
